@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  color: white;
}

body {
  width: 100%;
  height: 0 auto;
  color: white;
  font-family: "Montserrat", sans-serif;
  background-color: #131415;
}

.section-container {
  max-width: 1440px;
  display: flex;
  gap: 20px;
  flex-direction: column;
}

/*HEADER*/

header {
  max-width: 1440px;
  padding: 0 30px;
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-container {
  height: 100%;
  width: 100px;
}
/* NAVBAR */

.navbar-container {
  /* color: #fff;
  display: flex;
  justify-content: space-around;
  list-style: none; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 1440px;
  height: 100px;
}

.pizza-icon {
  width: 100%;
  height: 100%;
}

.navbar {
  display: flex;
  margin-left: auto;
}

.navbar-item {
  margin: 0 3.5px;
  padding: 10px;
  list-style: none;
  cursor: pointer;
}

.navbar-item a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: lighter;
}

#account {
  color: #ffa100;
}

.cart-container {
  position: absolute;
  top: 0;
  right: auto;
  min-width: 400px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  height: 900px;
  overflow-y: scroll;
  z-index: 9999;
  /* transform: translate(200%);
  transition: all 0.5s cubic-bezier(0.92, 0.01, 0.35, 0.99); */
}

.close-icon {
  color: #ffa100;
}

.cart-card {
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  background: #252525;
  box-shadow: 0px 0px 50px rgb(1 2 7 / 50%);
  gap: 20px;
  padding: 0 15px;
}

.cart-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* MAIN */

main {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

/* HERO */

.hero-container {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

/* PRIMER CONTENEDOR */
.zappi-container {
  display: flex;
  flex-direction: column;
  gap: 25px;
  padding: 20px;
  color: #fff;
}

.zappi-container h2 {
  font-style: normal;
  font-weight: bold;
  font-size: 55px;
}

.zappi-container h3 {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  max-width: 400px;
}

.zappi-container p {
  font-style: normal;
  font-size: 25px;
  font-weight: lighter;
}

.ver-mas-btn {
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  /* Drop Shadow */
  box-shadow: 11px 28px 50px rgba(20, 78, 90, 0.2);
  border: none;
  border-radius: 15px;
  width: 166px;
  height: 50px;
  top: 200px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

.pizza-34 {
  position: relative;
  /* width: 265px;
  height: 265px; */
  left: 150px;
  top: 0px;
  background: transparent;
}

.pizza-1 {
  position: relative;
  /* width: 392px;
  height: 392px; */
  right: 0px;
  top: 0px;
  background: transparent;
}

/* RECOMENDADOS */

.recomendacion-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.recomendacion-card *,
.filter-results-card *,
.category-card * {
  background: #252525;
}

.recomendacion-card {
  display: flex;
  width: 350px;
  height: 100px;
  border-radius: 15px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  gap: 20px;
  padding: 0 15px;
}

.recomend-img-container {
  width: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recomend-img-container img {
  width: 62px;
  height: 62px;
  border-radius: 16px;
  object-fit: cover;
}

.recomend-card-text {
  width: 215px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
}

.recomend-btn-container {
  width: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.card-title {
  font-size: 15px;
}

.card-subtitle {
  font-size: 14px;
  color: #4d4d4d;
}

.card-price {
  font-size: 19px;
  font-weight: 700;
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.agregar-btn {
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #fb103d 101.53%);
  border: none;
  border-radius: 15px;
  width: 85px;
  height: 30px;
  color: #fff;
  cursor: pointer;
}

/* CATEGORIAS */

.category-card-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.category-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 150px;
  height: 170px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.category-card:hover {
  width: 160px;
  height: 170px;
  box-shadow: rgba(255, 255, 255, 0.35) 0px 5px 15px;
  transition: 0.2s ease-in;
}

.category-img-container {
  width: 85px;
  height: 85px;
  display: flex;
  position: relative;
}

.card-img {
  width: 100%;
  height: 100%;
  background: transparent;

  z-index: 0;
}

.card-img-bg {
  width: 100%;
  height: 100%;
  background: transparent;
  filter: blur(3px);
  position: absolute;
  top: 2px;
  left: 2px;
}

.border {
  background: linear-gradient(98.81deg, #ffa100 -0.82%, #ff005c 101.53%);
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
  width: 24px;
  height: 4px;
}

/*RESULTADOS DEL FILTRO*/

.filter-results-container {
  max-width: 100%;
  display: flex;
  justify-content: center;
  gap: 40px;
  flex-wrap: wrap;
}

.filter-results-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 285px;
  height: 215px;
  background: #252525;
  box-shadow: 0px 0px 50px rgba(1, 2, 7, 0.5);
  border-radius: 15px;
}

.filter-img-container {
  width: 240px;
  height: 100px;
}

.filter-img-container img {
  width: 100%;
  height: 100%;
  mix-blend-mode: normal;
  border-radius: 16px;
  object-fit: cover;
}

.filter-card-text {
  display: flex;
  gap: 20px;
}

.filter-card-text div:first-child {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.filter-btn-container {
  display: flex;
  align-items: flex-end;
}

/*FOOTER */

.footer {
  max-width: 1440px;
  padding: 100px 30px 50px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 60px;
}

.info {
  display: flex;
  gap: 40px;
}

.info a {
  text-align: center;
}

/*MEDIA QUERIES*/

@media (max-width: 900px) {
  .pizza-images {
    display: none;
  }
}
